@media (max-width: 768px) {
	nav ul li {
		padding: 7px 2px;
		display: block;
		border-bottom: 1px solid #ddd;
	}
}
@media (min-width: 768px) {
	.nav-menu {
		display: flex;
		align-items: center;
		margin-top: 15px;
	}
	.lg-pb-5 {
		padding-bottom: 60px;
	}
	nav ul li {
		margin-right: 20px;
	}
	nav {
		padding: 30px 0 !important;
	}
	.card {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	}
}

.search-area {
	position: relative;
}
.search-icon {
	border: none;
	position: absolute;
	right: 3px;
	top: 3px;
	background: transparent;
	font-size: 20px;
	color: #686765;
}
