#footer-social li {
	padding: 5px 10px;
	background: #021d3a;
	margin: 10px 10px;
	border-radius: 5px;
}
#footer-social li a {
	color: white;
}
@media (max-width: 768px) {
	#footer ul {
		margin-left: 0px !important;
	}
}

footer#footer-part {
	background: #07294d;
	color: white;
	padding-top: 50px;
}
footer#footer-part ul li a:hover {
	color: white;
	margin-left: 5px;
}
footer#footer-part ul li a {
	color: #d9d3d3;
	padding: 5px 0;
	display: block;
	transition: 0.5s;
}
footer#footer-part ul li i {
	padding-right: 8px;
	display: inline-block;
}
